<h4><%= session.name %></h4>

<% session.routes.each do |route| %>
	
	<p style="text-indent: 20px"><b><u><%= "#{route.home_point} to #{route.away_point}" %></u></b></p>

		<% route.trips.each do |trip| %>

			<p style="text-indent: 40px"><%= render trip %></p>

	<% end %>

<% end %>
