<p><h4><%= session.name %></h4></p>

<% session.routes.each do |route| %>
		<ul class="list-group">
			<li class="list-group-item active">
				<h5><%= "#{route.home_point} to #{route.away_point}" %></h5>
			</li>
			<%= render route.trips.sort_by(&:departure_date) %>
		</ul>
<% end %>
