<h4><%= session.name %></h4>

<% session.routes.each do |route| %>
	
	<p><b><%= "#{route.home_point} to #{route.away_point}" %></b></p>

		<% route.trips.each do |trip| %>

			<p style="text-indent: 20px"><%= render trip %></p>

	<% end %>

<% end %>
