<h2>Forgot your password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

	<div class="row">

		<div class="col-md-4">

			<div class="panel panel-default">

				<div class="panel-body">

					<div class="form-group">
						<label for="user_email">Kenyon E-mail</label>
						<input type="email" class="form-control" id="user_email" name="user[email]" placeholder="smithj@kenyon.edu">
					</div>

					<button type="submit" name="commit" class="btn btn-success btn-lg btn-block">Continue >></button>

				</div>
				
			</div>

		</div>

	</div>

<% end %>
