<h2>Sign in to finish booking!</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form' }) do |f| %>

<div class="row">

	<div class="col-md-4">

		<div class="panel panel-default">

			<div class="panel-body">

				<div class="form-group">
					<label for="user_email">Kenyon E-mail</label>
					<input type="email" class="form-control" id="user_email" name="user[email]" placeholder="smithj@kenyon.edu">
				</div>

				<div class="form-group">
					<label for="user_password">Password</label>
					<input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password">
				</div>

				<div class="checkbox">
					<input type="checkbox" name="user[remember_me]">Keep me signed in
				</div>

				<button type="submit" name="commit" class="btn btn-success btn-lg btn-block">Continue >></button>

				<br/><%= link_to "Forgot your password? No biggie.", new_password_path(resource_name) %>

			</div>

		</div>

	</div>

</div>

<% end %>

<%= render "devise/registrations/new" %>
